body {
    background-color: rgb(206, 203, 203);
}

h1 {
    color: blue;
}

li {
    color: rgba(22, 19, 19, 0.925);
}

.begin {
    background-color: rgba(226, 122, 195, 0.164);
    border-width: 5px;
    border-style: dashed;
    text
}